{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <h2 class="mb-4 text-center">許學仁榮譽教授 生平簡介</h2>

    <!-- 上圖 -->
    <div class="text-center mb-4">
		<img src="{{ url_for('static', filename='picture/hsupic02.jpeg') }}" 
             alt="許學仁教授照片" 
             class="img-fluid rounded shadow"
             style="max-width: 300px;">
		<p>▲許學仁榮譽教授照片</p>
    </div>

    <!-- 下文 -->
    <div class="col-lg-10 mx-auto">
		<p>文／國立東華大學中國語文學系 巫俊勳教授</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;國立東華大學榮譽教授許學仁先生，字人尹，民國四十一年（1952）十二月生於臺東。祖籍廣東饒平。父榮林公，母許太夫人務，育有三子一女，先生為長子，聰慧好學，臺東高中第一名畢業，為中國文化大學中國文學系學士，國立臺灣師範大學國文研究所碩士、博士。六十九年（1980）與楊麗主女士結婚，育有一女一子。德配麗主女士為國立花蓮高級中學資深國文老師，退休後仍在花蓮高中、海星中學、慈濟中學、花蓮監獄正德班兼課，持續為教育奉獻。女日乃文，為傑出臨床心理師，子日庭瑋，為科技業產業顧問，皆卓然有成。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生師從李殿魁先生，於六十八年（1979）七月取得國立臺灣師範大學國文研究所碩士，碩士論文《先秦楚文字研究》，七十六年（1987）一月，獲國立臺灣師範大學國文研究所文學博士，博士論文《戰國文字分域與斷代研究》，八十五年（1996）發表《《古文四聲韻》古文研究》，釐析《古文四聲韻》所收各古文字形間之關係，傳抄古文一向被學界認為來源複雜，形體多變，先生認為每一字形皆有其產生之由，建立各字形間之發展衍變脈絡，為每個字族，每個字形建立譜系，每個字形都賦予了生命。九十年（2001）獲頒第二十四屆中興文藝獎漢學研發獎獎章。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;九十四年（2005）到一〇〇年（2011），依序執行國科會整合型研究計畫一楚系簡帛文字字典基礎工程研究計畫（一）（二）（三）、楚系簡帛文字字典編纂工程研究計畫（一）（二）（三），先生擔任總主持人，李旭昇教授、沈寶春教授、林清源教授、袁國華教授、蘇建洲教授等頂尖楚簡學者為子計畫主持人，前三年完成《楚系簡帛文字釋文》、《楚系簡帛文字研究論著目錄》、《楚系簡帛文字新編》、《楚系簡帛文字集釋》等工程成果。「楚系簡帛文字字典」為兩岸學術圈最早實踐將簡帛材料以字編、釋文、集釋等三個主要內容整合為字典的大型整合型計畫，在先生及子計畫主持人教授，以及計畫助理的努力之下，六年完成大量的楚系簡帛研究材料收集，以及相關的整理工作，對於簡帛文獻、戰國文字研究的發展推動，具有非常重要的意義。在此六年計畫的基礎上，將關於字形和釋文的成果以《戰國楚簡帛電子文字編》專業網站提供使用者檢索，為學術研究提供便利。</p>
		一〇二年執行「先秦兩漢兵學出土文獻研究」計畫，是將出土文獻與傳世文獻做對讀研究的實踐，先生長期投入傳統文獻及出土文獻之研究與整理，尤其近年文獻語料蠭出，研究工具日益精進，研究視野日益開闊，傳統中國文字基礎研究，在研究方法和研究觀念，更是隨之煥發新彩，研究成果斐然，獲得國科會頂尖人才研究獎勵。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生於七十三年（1984）到省立花蓮師範專科學校（國立花蓮教育大學前身）服務，深耕語文教育，八十三年至九十年（1994~2001）協助國立編譯館編輯《國民小學國語課本》，亦參與臺灣省國民學校教師研習會編輯《國民小學國語實驗教材》。八十五年至八十六年（1996~1997）協助教育部顧問室編輯《國民小學原住民課程與教材規劃研究國語科教學指引》，八十五年至八十九年（1996~2000）助教育部國教司編輯《噶瑪蘭母語讀本》，並協助研修《九年一貫國民教育階段學習領域綱要》。從語文師資之培育，到教科書之編輯與審訂、九年一貫語文領域課綱及能力指標之撰寫、語文教學與評量，以及各類語文教材之編輯，以及協助各縣市進行能力診斷與學習評量之實施，均可見先生孜孜矻矻之身影。期間先生也擔任花蓮縣國民教育輔導團本國國語文學習領域顧問，協助推動花蓮語文教育；也曾擔任教育部九年一貫語文學習領域國語文組輔導群常務委員，常不辭勞苦地奔波於全國各地，協助教學現場，落實語文教育之紮根工作。先生也常參與「兩岸四地小學語文教學觀摩」活動，協助推動小學語文教育之研究發展及改革，提升小學語文教學品質。八十九年至九十二年（2000-2003）擔任系主任期間，帶領系所轉型，從語文教育學系更名為中國語文教育學系，期間成立語文教學碩士班，為在職教師提供進修精進之環境，為往後再轉型為中國語文學系奠定厚實之基礎。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生六十年（1971）就讀文大時，即是該班班刊《錦禾》之主編，與麗圭老師一同參與《國民字典》、《大學字典》之編輯，後亦參與《中文大辭典》之修訂。至花師亦曾任出版組組長，編輯《花師報導半月刊》，主編《花師院刊》、《花蓮師院學報》。當時花師從五專改制成師院，先生建立學報外審制度，力求學術研究水平能與大學齊平。先生亦歷任《中國語文》、《東華漢學》、《國文天地》、《中國文字》之編輯委員，《中國語言文字研究輯刊》之主編，為學術把關，推廣學術不遺餘力。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生六十四年（1975）就讀師大國文研究所時，即參與教育部《常用國字標準字體表》、《次常用國字標準字體表》、《罕用國字標準字體表》標準國字之研訂，並協助書寫前兩表之字頭，先生字體端整典雅，為標準字體書寫之最佳典範。自民國八十四年（1995）起參與教育部《異體字字典》之編輯，該典手寫字形，是先生利用工作與家務之餘的點滴時間，數年間持續不輟，一筆一劃地依文獻摹寫而來，即便現在電腦造字技術已非常成熟，先生的摹寫字跡對複雜多變的異體字形的呈現，最能得其形實與神韻。自一0二年（2013）起，受教育部委託，出任國家教育研究院國語辭典編審會總編輯，輔助建置編輯環境、領導編務人員執行編務、引入學者專家參與編輯，推動辦理辭典研習營，培養辭典編輯人才。直至一一二年（2023）因健康因素，才未續任國語辭典編審會委員。尤至一0四年（2015）自東華大學退休後，更全心投入，每每斟酌於求異與趨同之間，折衝於存古與合時之際，為一字一詞，夜以繼日，務使字辭典能與時俱進，妥切允當。在先生帶領下，教育部國語辭典編輯工作穩健發展，所用心培育之年輕學者亦皆能繼志述事，持續推動辭典編輯審修之工作。先生亦參與文化總會《中華語文知識庫》之編訂，協助推動兩岸語文之溝通交流；亦擔任日本《漢字海》國際學術委員會之委員，為東亞地區大型汉字字典之編輯奉獻心力。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生自東華大學退休後，兼任臺灣師範大學國文系教授，於碩、博士班開設「中國文字綜合研討」、「中文辭典編纂研討」課程，除了期使傳統中國文字研究別關蹊徑，開展文字學動態研究之契機，更期盼同學能羅會辭書編纂相關原理，提昇辭書編輯寶作知能，進而成為辭書編輯儲備專業人才，為國家辭典編務奠定永續發展之基礎。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生長年致力於中文數位化，多次受財團法人中文數位化技術推廣基金會邀請，參與世界中文電腦字符編碼國際化之討論，從日本京都到美國柏克萊，從越南順化到海南三亞，均可見到先生為漢字編碼國際標準化，為正統漢字發聲。也協助中推會將古漢字編入國際標準，以及《說文》小篆數位化之編碼標準計畫，讓傳統文獻以及國語字辭典之數位化更臻完善，古漢字永續在我們生活之中，使中華文化能全世界共享。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生曾先後擔任教育部國語推行委員會、本國語文教育諮詢會及本國語文推動會委員，多次擔任全國語文競賽籌備委員，也是公視《一字千金》節目倚重之指導專家之一，參與節目規劃與錄製，備受好評，學術的普及和推廣實屬不易，能將學術平易近人，雅俗共賞，傳播到家家戶戶更尤為難得，先生為落實標準字體，推廣語文，培養國人語文能力，在推動學術普及方面竭盡心力，而先生豐厚之學養深受國人敬佩，溫文儒雅，學術專業的形象亦已深印國人心中。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生長期投身學術團體，曾任中國訓詁學會祕書長及中國文字學會理事長，歷屆相關研討會總見其身影，或於臺上侃侃而論，或予後學諄諄善誘。先生對學術推廣之熱切，提攜後進之積極，數十年如一日，從未曾間斷。先生交遊廣闊，待人極真極誠。不只在花蓮，在臺灣，亦常接待大陸蒞臺知名學者，以及仍在刻苦求學之學生，適時給予協助與關懷。交織開展出之深厚情誼網絡，學術交流更為綿密。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生重視尊師之道，並以身作則。花蓮師專改制花蓮師院時之第一任系主任李殿魁教授，即先生之恩師，在系裡「仲尼居，曾子侍」，對尊師實踐，總體現在先生之行儀中。在任何場合，遇見任何一位師長，先生之行止皆如此，數十年如一日，皆為尊師之典範。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生極愛讀書，且極愛護書，每得一書便用白淨之月曆紙包裝扉頁，並以工整楷書寫上書名、作者、出版資訊。藏書極為豐富，兩層樓之住家，層層疊疊，充塞其間，需側身方得通過。書雖多，擺放位置，卻如資訊管理，每詢一書，隨取即得，可見先生記憶之強，用功之深。先生便另購一屋，裝設軌道書架，成為專用書庫。總喜歡邀請大家至書庫看書，多有罕見難尋之書，先生亦從不吝惜分享，更有學生逕於書庫住下，直至完成論文。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生書齋名為「求已知」，凡學界新發表論文、新出版書籍務求搜羅完備，經眼瀏覽。若未能及時獲得，必建立待訪書目，再透過各種管道取得。先生之實體書籍汗牛充棟，先生之個人數位圖書館，亦不遑多讓。先生為學，務求周延，資料搜羅最為基礎。故凡有新資料出，必廣求相關研究，建立相關研究目錄，若該研究已有相關彙整文章，亦在其基礎陸續增補，務使目錄與時俱進。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一襲中式唐裝加玉佩是先生之標記，平時處事溫厚圓融，而於重要事理上，又絲毫不掩真性情。無論校務發展或系務走向，有時如金剛怒目，能鎮懾人心；有時如觀音慈顏，善言提醒與針砭遠見。囿於現實牽絆，未必能即時實現，先生勾勒出之寬闊視野，直指持續努力之方向。先生聲如洪鐘，面容莊嚴，典型「望之儼然，即之也溫」之大儒風範，深受同學之敬仰與愛戴。桃李遍布天下，追隨老師腳步，投身語文教育與學術研究，已蔚然成風。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生身體長年受血糖失衡之苦，每日飯前須施打針劑以穩定血糖，經常遇會議、講學多處奔波，但先生之精神卻不為其左右，他從容地教學、研究，乃至於參加海內外各種學術會議，毫無影響。惟一一一年（2022）四月，先生因耳內膽脂瘤開刀住院，之後身形消瘦，健康大不如前。然而先生依然繼續演講、研究、主持辭典編輯，不僅沒有絲毫懈急，反而夜以繼日，勠力以赴，務求周延。十二月初，先生赴新竹擔任全國語文競賽評審，返回花蓮後，確診新冠肺炎，解隔離後仍苦於長新冠之各種症狀，即便如此，月底仍相繼至慈濟大學、中央大學演講、主持會議，而對辭典之修訂，更緊鑼密鼓，身體狀況愈差而投注心力愈甚，勉強撐持，已達極限！一一二年（2023）元月中，先生右腦血管阻塞，住院治療，本已逐漸康復，然而三月初在院內再度確診新冠肺炎，乃至肺部與腦部感染無法有效控制，無力回天，於五月十二日辭世，享壽七十二歲。</p>

		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;先生一生為學術，為教育具有特殊貢獻，教育部特頒給二等教育專業獎章，以表彰先生一生之功績。這些在語文領域留下之沃土，相信未來，定會滋養出更多之新可能。先生之胸懷與精神，必將千古長存，世世傳承。</p>
		<br>
		<br>
		<p align=right>東華大學中國語文學系 巫俊勳 恭撰</p>
    </div>
</div>

{% endblock %}
